# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
data/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*.npy

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
